.home-page{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 100%;
    width: 100%;
}
.welcome-text{
    font-weight: bold;
    letter-spacing: 0.3px;
    margin: 0;
    user-select: none;
    display: inline-block;
    white-space: break-spaces;
    line-height: initial;
}

.last-active-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    margin: auto 0 0 0;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    border-left: 5px solid #22223b;
}


.last-active{
    margin: 0;
    font-size: 0.7rem;
    color: #415541;
    font-weight: 500;
} 


.chat-input{
    background-color: inherit;
    border: none;
    flex-grow: 1;
    line-height: 1.5;
    box-sizing: border-box;
    overflow-y: auto;
    
}
.groups{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfffa;
    height: 100dvh;
    width: 100vw;
}
.groups-list{
    flex: .4;
    height: 100dvh;
}
.groups-main{
    flex: .6;
    background-color: #fcfffa;
    height: 100dvh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.group-members{
    flex-grow: 1;
    width: 90%;
    overflow: auto;
    background-color: #f7fdf0;
    padding: 5px 10px;
}
.group-name-input{
    gap: 5px;
    border: 1px solid #1f1e1e;
    padding: 5px;
    width: 50%;
    height: 35px;
}
.group-button{
    display: flex;
    padding: 10px;
    gap: 5px;
}

@media only screen and (max-width: 600px) {
    .groups-list{
        display: none;
    }
    .groups-main{
        flex: 1;
    }
    }