/* DASHBOARD */
.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100dvh;
    overflow-y: scroll;
    padding: 1rem 5px;
}
.widgets{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 0;
}
.widget{
    background-color: #eaefe6;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.widget div{
  border: 7px solid #22223b;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
.widget p{
    margin: 5px;
}
.widget div p{
    margin: 0;
    font-weight: 900;
}
.charts{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.chart{
  flex: .5;
  height: 300px;
}


@media only screen and (max-width: 600px) {
  .dashboard{
    max-width: 100vw;
    overflow-x: hidden;
  }
  .widgets{
    gap: 5px;
  }
  .widget{
    height: 130px;
    width: 130px;
  }
}