.app{
  height: 100dvh;
  width: 100vw;
  max-height: 100dvh;
  max-width: 100vw;
  overflow: hidden;
  background: #0C2B4E;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fullScreen{
  height: calc( 100dvh - 56px);
  width: 100vw;
  max-height: calc( 100dvh - 56px);
  max-width: 100vw;
  overflow: hidden;
}

*:focus{
  outline: none;
}
.flex-con{
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.custom-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  background-color: #66a22e;
  cursor: pointer;
  border-radius: 20px;
  color: white;
}
.error-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
  border: none;
  border-radius: 20px;
  background-color: #e74615;
  cursor: pointer;
  color: white;
}
.custom-button:hover{
  background-color: #447515;
}
.error-button:hover{
  background-color: #b8350e;
}
.input-div{
  width: 100%;
  padding: 0 5px;
  height: 42px;
  margin: 5px;
  border: 1px solid #0a4761;
  border-radius: 4px;
  box-sizing: border-box; 
  display: flex;
  align-items: center;
  background-color: #1D546C;
}



.input-field{
  border: none;
  background: transparent;
  color: black;
  flex: 1;
}


.input-field::placeholder{
  color: #101f03;
  font-weight: 500;
}
